.body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --ps-color: #0070d1;
    --grey-game: #1f1f1f;
    --grey-ps-plus: #bebcbb;
    --ps-now: #161c3b;
}

/*header*/
.dropdown ul {
    width: 99%;
}

ul.list-inline.dropdown-menu.text-center.show {
    transform: translate3d(2px, 80px, -30px) !important;
}

.header-link {
    background-color: white;
}

.container-header {
    width: 100%;
}
.logo-header {
    background-color: black;
}

.sony-logo {
    width: 70px;
}

.container-header {
    width: 100%;
}

.dropdown .btn-secondary {
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: white;
}

.dropdown .btn:hover{
    color:blue;
}

.dropdown .btn:focus {
    box-shadow: none;
}

.ps5-blu {
    width: 60px;
}

.fa-circle {
    font-size: 0.2em;
    color: var(--ps-color);
}

.dx-header-xl button,
.dropdown-menu li button {
    border: none;
}

.dx-header-xl button img,
.dropdown-menu li:last-child button img {
    width: 20px;
}

.btn-dark {
    height: 40px;
}

.lens {
    width: 40px;
}
/*/header*/

/*jumbo*/
.container-jumbo {
    margin-top: 6em;
}

.sfondo-container-jumbo {
    color: white;
    background-image: url(img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.sfondo-container-jumbo {
    padding-top: 16em;
    padding-left: 2em;
    padding-bottom: 3em;
}

.banner {
    width: 10%;
}

.danger {
    background-color: red;
}

.jumbo-game {
    width: 80%;
}

.jumbo-game:hover button {
    border: 3px solid var(--ps-color);
    border-radius: 10%;
}

.jumbo-game button {
    cursor: pointer;
    border: none;
}

.jumbo-game img {
    border-radius: 5%;
    width: 100%;
}
/*/jumbo*/

/*name-product*/
.name-product .row div .name-product-blu {
    color: var(--ps-color);
}
/*/name_product*/

/*information*/
.ps5-foto {
    width: 100%;
}

.row-information {
    padding-top: 20%;
}

.orizzontal-ps5{
    width: 100%;
    filter: opacity(0.7);
}

.prodotti:hover{
    border-bottom: 3px solid var(--ps-color);
}

.prodotti:hover .orizzontal-ps5 {
    filter: opacity(1);
}
/*/information*/

/*spam*/
.container-spam {
    padding-top: 5em;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position-x: center;
    background-position-y: initial;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 3em;
}

.it-takes-foto {
    width: 70%;
}

.container-new-game {
    background-color: var(--grey-game);
    color: white;
}

.container-new-game .row div img {
    width: 100%;
}
/*/spam*/

/*explore*/
.container-fluid .row div .row img {
    width: 100%;
}
/*/explore*/

/*PS+*/
.container-ps-plus {
    background-color: var(--grey-ps-plus);
}

.container-ps-plus .row:first-child div:first-child div img {
    width: 50%;
}

.container-ps-plus .row div:last-child div img {
    width: 80%;
}
/*/PS+*/

/*sale*/
.container-sale div div img {
    width: 100%;
}
/*/sale*/

/*ps-now*/
.container-ps-now {
    background-color: var(--ps-now);
    color: white;
}

.container-ps-now div div:first-child div img {
    width: 50%;
}

.container-ps-now .row div:first-child {
    padding-top: 5em;
}

.img-ps-now {
    width: 100%;
} 
/*/ps-now*/