.body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --ps-color: #0070d1;
    --grey-game: #1f1f1f;
    --grey-ps-plus: #bebcbb;
    --ps-now: #161c3b;
}

/*header*/
.dropdown ul {
    width: 100%;
}

.header-link {
    background-color: white;
}

.logo-header {
    background-color: black;
}

.sony-logo {
    width: 70px;
}

.container-header {
    width: 100%;
}

.dropdown .btn-secondary {
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: white;
}

.dropdown .btn:hover{
    color:blue;
}

.dropdown .btn:focus {
    box-shadow: none;
}

.btn-shadow .ps5-blu {
    width: 60px;
}

.fa-circle {
    font-size: 0.2em;
    color: var(--ps-color);
}

.dx-header-xl button,
.dropdown-menu li button {
    border: none;
}

.dx-header-xl button img,
.dropdown-menu li:last-child button img {
    width: 20px;
}

.btn-dark {
    height: 40px;
}

.lens {
    width: 40px;
}

a.sub-link.dropdown-item.d-flex.align-items-center:hover {
    color: blue;
}

.btn-shadow:hover {
    -webkit-box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.82); 
    box-shadow: 1px 2px 20px 2px rgba(0,0,0,0.82);
}
/*/header*/

/*jumbo*/
.container-jumbo {
    margin-top: 6em;
}

.sfondo-container-jumbo {
    color: white;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    overflow: hidden;
}

.sfondo-container-jumbo {
    padding-top: 12em;
    padding-left: 2em;
    padding-bottom: 3em;
}

.banner {
    width: 10%;
}

.danger {
    background-color: red;
}

.jumbo-game {
    width: 80%;
}

.jumbo-game:hover button {
    border: 3px solid var(--ps-color);
    border-radius: 15%;
}

.jumbo-game button {
    cursor: pointer;
    border: none;
}

.jumbo-game img {
    border-radius: 5%;
    width: 100%;
}

.jumbo-game {
    cursor: pointer;
    transition-duration: 0.5s;
}

.jumbo-game:hover {
    margin-top: -1em;
}

img.img-round {
    border-radius: 10%;
}
/*/jumbo*/

/*name-product*/
.name-product .row div .name-product-blu {
    color: var(--ps-color);
}
/*/name_product*/

/*information*/
.ps5-foto {
    width: 100%;
}

.row-information {
    padding-top: 20%;
}

.orizzontal-ps5{
    filter: opacity(0.7);
}

.prodotti:hover{
    border-bottom: 3px solid var(--ps-color);
}

.prodotti:hover .orizzontal-ps5 {
    filter: opacity(1);
}
/*/information*/

/*spam*/
.container-spam {
    padding-top: 5em;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 3em;
}

img.w-100.it-takes-foto {
    width: 40% !important;
}

.container-new-game {
    background-color: var(--grey-game);
    color: white;
}

/*/spam*/

/*PS+*/
.container-ps-plus {
    background-color: var(--grey-ps-plus);
}

.container-ps-plus .row:first-child div:first-child div img {
    width: 50%;
}

.container-ps-plus .row div:last-child div img {
    width: 80%;
}
/*/PS+*/

/*ps-now*/
.container-ps-now {
    background-color: var(--ps-now);
    color: white;
}

.container-ps-now .row div:first-child {
    padding-top: 5em;
}
/*/ps-now*/

/*footer*/
.containe-footer {
    padding-top: 10em;
    background-color: var(--ps-color);
    color: white;
    padding-bottom: 5em;
}

.container-fluid .row div .row .ps-footer-logo {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    width: 20%;
}

.container-fluid .row div .row .sie-logo {
    width: 20%;
}

.footer-list {
    color: white;
    list-style: none;
}

.footer-list li a {
    color: white;
    text-decoration: none;
}
/*/footer*/