.body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --ps-color: #0070d1;
}

/*header*/
.logo-header {
    background-color: black;
}

.sony-logo {
    width: 70px;
}

.container-header {
    width: 100%;
}

.dropdown .btn-secondary {
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: white;
}

.dropdown .btn:hover{
    color:blue;
}

.dropdown .btn:focus {
    box-shadow: none;
}

.dropdown ul {
    width: 100vw;
}

.ps5-blu {
    width: 60px;
}

.fa-circle {
    font-size: 0.2em;
    color: var(--ps-color);
}

.dx-header-xl button,
.dropdown-menu li button {
    border: none;
}

.dx-header-xl button img,
.dropdown-menu li:last-child button img {
    width: 20px;
}
/*/header*/

/*jumbo*/
.container-jumbo {
    width: 100%;
}

.sfondo-container-jumbo {
    color: white;
    background-image: url(img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: right;
}

.sfondo-container-jumbo {
    padding-top: 16em;
    padding-left: 2em;
    padding-bottom: 3em;
}

.banner {
    width: 10%;
}

.danger {
    background-color: red;
}

.jumbo-game {
    width: 80%;
}

.jumbo-game button {
    border: none;
    cursor: pointer;
}

.jumbo-game img {
    border-radius: 5%;
    width: 100%;
}
/*/jumbo*/